/* global styles */
html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.visuallyhidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

/* General Styles */
html {
  font-size: 125%;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

.wrapper {
  max-width: 1440px;
  width: 70%;
  margin: 0 auto;
}

ul, li {
  list-style: none;
}

a:link,
a:visited {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

/* Main Page Styles*/
.searchPage {
  background-image: linear-gradient(rgba(57, 66, 214, .7), rgba(57, 66, 214, .7)), url(./assets/heroImage.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

/* header styles */
h1.appTitle {
  font-family: 'Paytone One', sans-serif;
  text-align: center;
  font-size: 6rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFF;
  margin: 0;
  padding-top: 60px;
  transform: scale(1);
  animation: pulse .5s infinite;
}

/* select iStore styles */
.country {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px 0;
  color: #fff;
  margin: 50px 0;
}

.countryInput {
  display: grid;
  grid-template-columns: repeat(3, 70px);
  grid-gap: 15px;
  padding-left: 0;
}

.radio {
  position: relative;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  color: #fff;
}

.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
  opacity: 0;
}

.radio label {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  border: 2px solid #363BA3;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.radio label.flag {
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  background-position: center;
}

.radio:hover label.flag,
.radio:focus label.flag {
  opacity: .5;
}

.radio input:checked + label,
.radio input[type=radio]:focus + label {
  border: 5px solid #fff;
  width: 120%;
  height: 120%;
}

.radio input[type=radio]:focus + label {
  border: 5px solid #fff;
}

.radio label.unitedStates {
  background-image: url(./assets/usFlag.png);
}

.radio label.canada {
  background-image: url(./assets/canadaFlag.png);
}

.radio label.unitedKingdom {
  background-image: url(./assets/ukFlag.png);
}

.radio label.france {
  background-image: url(./assets/franceFlag.png);
}

.radio label.spain {
  background-image: url(./assets/spainFlag.png);
}

.radio label.italy {
  background-image: url(./assets/italyFlag.png);
}

/* search bar styles */
.userInput {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.userInput label {
  font-size: 1.4rem;
  font-weight: lighter;
  color: #FFF;
}

.searchBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;
}

.searchBar input[type=text],
.searchBar input[type=submit] {
  height: 3rem;
  border: none;
}

.searchBar input[type=text] {
  width: 100%;
  border-radius: 50px;
  padding-left: 40px;
  outline: transparent;
}

.searchBar .submitButton {
  font-family: 'Roboto', sans-serif;
  width: 30%;
  margin: 1rem auto;
  border-radius: 50px;
  border: none;
  background-color: rgba(255, 255, 255, .3);
  color: #fff;
  box-shadow: 0 6px 0px #363BA3;
  font-weight: bolder;
  cursor: pointer;
  position: relative;
  top: 0;
  transition: all 0.5s;
}

.searchBar .submitButton:hover,
.searchBar .submitButton:focus {
  background-color: #fff;
  color: #363BA3;
}

/* search result styles */
.searchResult {
  text-align: center;
  color: #333;
}

.searchResult h3 {
  font-size: 1.2rem;
  line-height: 2;
  padding-top: 30px;
}

/* song container */
.songContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.musicItem {
  width: 150px;
  margin: 0 10px -40px 10px;
  text-align: center;
  padding: 20px 0;
  position: relative;
}

.musicItem input[type=image] {
  width: 100%;
  border-radius: 50%;
  border: 1px solid #363BA4;
}

.musicItem .trackName {
  font-family: 'Roboto', sans-serif;
  font-size: .7rem;
  font-weight: lighter;
}

.musicItem .artist {
  font-family: 'Roboto', sans-serif;
  font-size: .7rem;
  font-weight: light;
  font-style: italic;
  margin: -10px 0 30px 0;
}

.addToPlaylist svg {
  margin-right: 5px;
}

.svg-inline--fa {
  cursor: pointer;
}

.musicItem .artist a {
  color: #363BA4;
}

.image {
  position: relative;
}

.play {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: #363ba4;
  display: none;
}

.image:hover .play{
  display: block;
}

/* reset button */
.sectionResetButton {
  font-family: 'Roboto', sans-serif;
  display: block;
  width: 20%;
  margin: 30px auto;
  height: 3rem;
  border: 1px solid #5F65D1;
  border-radius: 50px;
  background-color: #FFF;
  color: #5F65D1;
  box-shadow: 0 6px 0px rgba(54,59,163, .5);
  font-weight: bolder;
  cursor: pointer;
  position: relative;
  top: 0;
  transition: all 0.5s;
}

.sectionResetButton:hover,
.sectionResetButton:focus {
  background-color: #5F65D1;
  color: #FFF;
}

.submitButton:active,
.sectionResetButton:active {
  position: relative;
  top: 5px;
  box-shadow: 0 3px 0 rgba(54,59,163, .5);  
}

.submitButton:focus,
.sectionResetButton:focus {
  outline: transparent;
}

/* Footer Styles */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #363BA4;
  padding: 10px 0;
}
footer p {
  text-align: center;
  padding: 7px 0 0 0;
  color: #FFF;
}

footer p a {
  text-decoration: none;
  color: #FBC02D;
}

/* animation styles */
@keyframes pulse {
    0% {
        transform: scale(0.90);
    }

    70% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.90);
    }
}

/* MEDIA QUERIES */
@media (max-width: 900px) {
  .searchPage {
    min-height: 768px;
    overflow: scroll;
  }

  .userInput label {
  font-size: 1.2rem
  }

  .searchBar .submitButton {
    width: 40%;
  }

  .sectionResetButton {
    width: 30%;
  }
}

@media (max-width: 768px) {
    

  .wrapper {
    width: 80%;
  }

  h1.appTitle {
    font-size: 5rem;
  }

  .country label {
    font-size: 1rem;
  }

  .userInput label {
    font-size: 1.1rem
  }

  .searchBar input[type=text] {
    font-size: .9rem;
    padding-left: 30px;
  }

  .searchBar .submitButton {
    width: 45%;
  }

  .sectionResetButton {
    width: 35%;
  }
}

@media (max-width: 590px) {
  .searchResult h3 {
    font-size: 1rem;
  }
}

@media (max-width: 560px) {
  h1.appTitle {
    font-size: 4rem;
    padding-top: 0;
  }

  .userInput label {
    font-size: .9rem
  }

  .searchBar input[type=text] {
    font-size: .8rem;
    padding-left: 20px;
  }

  .searchBar input[type=text],
  .searchBar input[type=submit],
  .sectionResetButton {
    height: 2.5rem;
  }

  .submitButton,
  .sectionResetButton {
    font-size: .9rem;
  }

  footer p {
    font-size: .8rem;
  }
}

@media (max-width: 450px) {

  h1.appTitle {
    font-size: 3.2rem;
  }

  .countryInput {
    grid-template-columns: repeat(3, 60px);
    grid-gap: 10px;
  }

  .radio {
    width: 60px;
    height: 60px;
  }

  .userInput label {
    font-size: .8rem;
    font-weight: bold;
  }

  .searchBar input[type=text] {
    font-size: .7rem;
  }
}

@media (max-width: 430px) {
  .searchResult h3 {
    font-size: .8rem;
  }


  .searchBar .submitButton {
    width: 50%;
  }

  .sectionResetButton {
    width: 40%;
  }

  .musicItem {
    width: 120px;
  }

  footer p {
    font-size: .7rem;
  }
}

@media (max-width: 370px) {
  h1.appTitle {
    font-size: 2.8rem;
  }

  .searchBar input[type=text] {
    padding-left: 27px;
  }

  .musicItem {
    width: 60%;
    margin: 0 auto;
    padding: 20px 0 0 0;
  }

  .searchBar .submitButton {
    width: 60%;
  }

  .sectionResetButton {
    width: 1000px;
  }

  footer p {
    font-size: .6rem;
  }
}
